[submodule "RuntimeCompiledCPlusPlus"]
	path = RuntimeCompiledCPlusPlus
	url = https://github.com/RuntimeCompiledCPlusPlus/RuntimeCompiledCPlusPlus
[submodule "addons/ofxImGui"]
	path = addons/ofxImGui
	url = https://github.com/jvcleave/ofxImGui.git
